<!DOCTYPE html>
<html>
	<head>
		<title>TSW Assignment 3</title>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
				<script src="//code.jquery.com/jquery-1.9.1.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	
		<style>
		html, body {
		   height: 90%;
		}
		
		div {
			padding-top:5px;
		}
		
		.filler{
			padding-left:28px;
			padding-top:5px;
			background-color: rgba(47,112,186,0.9);
			height:40px;
			color:white;
		}
			.menu ul 
			{
				list-style:none;
				display:inline;
				text-align:center;
				font-size: large;
				font-weight: bold;
				text-decoration: none;
				
			}
			.menu ul li
			{
			display:inline;
			padding:10px;
			
			}
			.menu ul a
			{
			text-decoration:none;
			text-align:center;
			}
			
			.menu ul a:hover 
			{
				
				color: black;
				text-decoration: none;
			}
			
			.menu ul a:active
			{
				color: black;
				text-decoration: none;
			}
			
			.menu ul li a.selected
			{
				color: black;
			}
			
			.link{
				width:100px;
				word-wrap: break-word;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<div class="filler" id="filler"><span>Twitterulization</span>
		<input style="float:right;margin-right:28px;" type="button" class="btn btn-primary" value="Show Visualization" onclick="show(this,'#wrapper')"/>
		</div>
		<div class="container-fluid" style="height: 90%">
			<div class="col-md-4"  style="height:100%">
				<div style="height:20%">
					<input id="input1" placeholder="twitter" type="search">
					<input id="search1" class='btn btn-primary' type="button" value="search">
				</div>
				<div id="result" style="height:80%; overflow:auto">
				</div>
			</div>
			<div class="col-md-4" style="height:100%;">
				<div id="carousel" style="max-height:100%; overflow:auto">-
				</div>
			</div>
			<div class="col-md-4" style="height:100%;">
				<div style="height:50%;">
					<div id="tabs" class="menu"> <! opening van tab-div !>
					<ul>
						<li><a id="wordButton" onclick="ToggleTab(this)" href="#wordDiv">Words</a></li>
			        	<li><a id="hashButton" onclick="ToggleTab(this)" href="#hashDiv">Hashtags</a></li>
						<li><a id="mentButton" onclick="ToggleTab(this)" href="#mentionDiv">Mentioned</a></li>
					</ul>
					<br>
						<div id="hashDiv" onclick="ToggleTab(this)" style="overflow:auto;height:450px;">
						<span id="hashtags"></span>
						</div>
						<div id="mentionDiv" onclick="ToggleTab(this)" style="overflow:auto;height:450px;">
						<span id="screenNames"></span>
						</div>
						<div id="wordDiv" class="selected" onclick="ToggleTab(this)" style="overflow:auto;height:450px;">
							<p>
								<label>Words</label>
								<span id="wordFr">...</span>
							</p>
							<p>
								<label>Very Related Words</label>
								<span id="veryRelated">...</span>
							</p>
							<p>	
								<label>Synonyms</label>
								<span id="synonyms">...</span>
							</p>
						</div>
					</div> <! sluiting van tab-div !>
				</div>	
				<div style="height:50%;">
					<div id="wrapper" style="display:none;">
						<span><img class="img-responsive" src='http://bni.harrymars.nl/denhaag/img/ani.gif'></span>
						</div>
					</div>
				</div>
			</div> 
			<div>
			<h3>Locaties voor zover aanwezig</h3>
			<p id="locations" style="max-width:100%;overflow: auto"> test </p>
			<h3>De "Topics"</h3>
			<p id="topics" style="max-width:100%;overflow: auto"> test </p>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$("#tabs").tabs({ fx: {opacity: 'toggle'} });
			});
			
			function search(query){
			$.getJSON('/search',data={'query': query}, function(json){
			console.log(json);
			var container = $('<div />');
			var photocontainer = $('<div style="height:100%" class="carousel slide" data-ride="carousel" />');
			for (tweet in json[0].statuses){
				container.append('<p><em>'+JSON.stringify(json[0].statuses[tweet].text)+'</em></p>');
			    if(json[0].statuses[tweet].entities.media){
				photocontainer.append('<span><img class="img-responsive" src='+JSON.stringify(json[0].statuses[tweet].entities.media[0].media_url)+'></span>');
				photocontainer.append('<span>'+JSON.stringify(json[0].statuses[tweet].user.screen_name)+'</span>');
				};
			}
			$('#result').html(container);
			$('#carousel').html(photocontainer);
			
			var hashtags = JSON.stringify(json[1]["hashtags"]);
			var hashtagArray = stripTags(hashtags);
			var html = createHtml(hashtagArray);
			$('#hashtags').html(html);
			
			var screennames = JSON.stringify(json[1]["screenNames"]);
			var screennameArray = stripTags(screennames);
			html = createHtml(screennameArray);
			$('#screenNames').html(html);
			
			var wordFr = JSON.stringify(json[1]["words"]);
			var wordFrArray = stripTags(wordFr);
			html = createHtml(wordFrArray);
			$('#wordFr').html(html);
			
			var veryRelated = JSON.stringify(json[2]);
			var veryRelatedArray = stripTags(veryRelated);
			html = createHtml(veryRelatedArray);
			$('#veryRelated').html(html);
			
			$('#locations').html(JSON.stringify(json[4]));
			
			$('#topics').html(JSON.stringify(json[5]));
			
			//$('#veryRelated').html(JSON.stringify(json[2]));
			
			var synonyms = JSON.stringify(json[3]);
			var synonymsArray = stripTags(synonyms);
			html = createHtml(synonymsArray);
			$('#synonyms').html(html);
			});
			
			$( ".link" ).bind( "click", function() {
					alert("test");
				});
			};
			
			$('#search1').on('click', function(e){
			 search($('#input1').val());
			});
			
			/* returns een div met hrefs van de tags en frequencies achter de tag */
			function createHtml(array) 
			{
			var words = array[0];
			var frequency = array[1];
			var html = $('<div />');
			$.each( words, function( key, value ) {
				text = JSON.stringify(value);
				//html.append('<span><input type="button" class="btn btn-primary link" id="link" onclick="search('+text+')" value='+text+'/> value: '+frequency[key]+'</span><br>');	
				html.append('<input type="button" value='+text+' onclick=search('+text+') />');
			});
			
			return html;	
			}
			
			/* returns een 2dimensionale array, 
			array[0] is een array met words, 
			array[1] is een array met frequencies */
			
			function stripTags(string)
			{
			var array = string.split("],");
			var words = [];
			var frequency = [];
			$.each( array, function( key, value ) {
				value = value.replace(/[_\W]+/g, " ");
				var tmp = value.split(" ");
				words[key] = tmp[1];
				frequency[key] = tmp[2];
			});
			var result = [];
			result[0] = words;
			result[1] = frequency;
			return result;
			}
			
			function show(sender,element){
				$(element).fadeToggle("slow");
				if(sender.value == "Show Visualization"){
					sender.value = "Hide Visualization";
				} else {
					sender.value = "Show Visualization";
				}
				
			}
			
			function ToggleTab(sender)
			{
			$('#hashButton').removeClass('selected');
			$('#mentButton').removeClass('selected');
			$('#wordButton').removeClass('selected');
            $(sender).addClass('selected');
			}			
		</script>	
	</body>
</html>
