<!DOCTYPE html>
<html>
	<head>
		<title>TSW Assignment 3</title>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	
		<style>
		html, body {
		   height: 90%;
		}
		
		div {
			padding-top:5px;
		}
		
		.filler{
			padding-left:28px;
			padding-top:5px;
			background-color: rgba(47,112,186,0.9);
			height:40px;
			color:white;
		}
		</style>
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<div class="filler" id="filler"><span>Twitterulization</span>
		<input style="float:right;margin-right:28px;" type="button" class="btn btn-primary" value="Show Visualization" onclick="show(this,'#wrapper')"/>
		</div>
		<div class="container-fluid" style="height: 90%">
			<div class="col-md-4"  style="height:100%">
				<div style="height:20%">
					<input id="input1" placeholder="twitter" type="search">
					<input id="search1" class='btn btn-primary' type="button" value="search">
				</div>
				<div id="result" style="height:80%; overflow:auto">
				</div>
			</div>
			<div class="col-md-4" style="height:100%;">
				<div id="carousel" style="max-height:100%; overflow:auto">-
				</div>
			</div>
			<div class="col-md-4" style="height:100%;">
				<div style="height:50%;">
					<div id="related">
						<h3>Hashtags:</h3>
						<span id="hashtags"></span>
						<h3>Mentioned:</h3>
						<span id="screenNames"></span>
						<h3>Words:</h3>
						<span id="wordFr"></span>
						<h3>Vert Related Words:</h3>
						<span id="veryRelated"></span>
					</div>
				</div>
				
				<div style="height:50%;">
					<div id="wrapper" style="display:none;">
						<span><img class="img-responsive" src='http://bni.harrymars.nl/denhaag/img/ani.gif'></span>
						</div>
					</div>
				</div>
			</div> 
			<p id="dump" style="max-width:100%;overflow: auto"> test </p>
		</div>
		<script>
			function search(){
			var query = $('#input1').val();
			$.getJSON('/search',data={'query': query}, function(json){
			console.log(json);
			var container = $('<div />');
			var photocontainer = $('<div style="height:100%" class="carousel slide" data-ride="carousel" />');
			for (tweet in json[0].statuses){
				container.append('<p><em>'+JSON.stringify(json[0].statuses[tweet].text)+'</em></p>');
			    if(json[0].statuses[tweet].entities.media){
				photocontainer.append('<span><img class="img-responsive" src='+JSON.stringify(json[0].statuses[tweet].entities.media[0].media_url)+'></span>');
				photocontainer.append('<span>'+JSON.stringify(json[0].statuses[tweet].user.screen_name)+'</span>');
				};
			}
			$('#result').html(container);
			$('#carousel').html(photocontainer);
			
			$('#veryRelated').html(JSON.stringify(json[2]));
			$('#hashtags').html(JSON.stringify(json[1]["hashtags"]));
			$('#screenNames').html(JSON.stringify(json[1]["screenNames"]));
			$('#wordFr').html(JSON.stringify(json[1]["words"]));
			$('#veryRelated').html(JSON.stringify(json[2]));
			});
			};
			
			$('#search1').on('click', function(e){
			 search();
			});
			
			function show(sender,element){
				$(element).fadeToggle("slow");
				if(sender.value == "Show Visualization"){
					sender.value = "Hide Visualization";
				} else {
					sender.value = "Show Visualization";
				}
				
			}
		</script>	
	</body>
</html>
